/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Tailwind */
@import "tailwindcss";

* {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
}

@theme {
    --color-primary: hsl(74, 32%, 32%); /* Hunter Green */
    --color-secondary: hsl(88, 38%, 15%); /* Chestnut */
    --color-accent: hsl(52, 94%, 94%); /* Flame */
    --color-dark: hsl(32, 65%, 62%); /* Jet */
    --color-light: hsl(28, 67%, 44%); /* Cambridge Blue */

    /* Functional Colors */
    --color-success: hsl(120, 50%, 50%);
    --color-warning: hsl(40, 100%, 50%);
    --color-error: hsl(0, 70%, 50%);
    --color-muted: hsl(0, 0%, 70%);
}